.page {
    background-image: url(/images/noisy-texture-100x100-o4-d14-c-FCE06D-t1.png);
    background-color: #150708;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background-image: url(/images/noisy-texture-100x100-o4-d14-c-FCE06D-t1.png);
    background-color: #150708;
    font-family: 'Eurostile', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.title {
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    max-width: 320px;
    text-align: center;
    max-width: 90%;
    font-weight: 900;
    letter-spacing: 0rem;
    font-size: 2.2em;
    line-height: 1;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 1em;
    }
}

.subtitle {
    margin: 30px auto 5px auto;
    color: white;
    max-width: 400px;
    text-align: center;
    max-width: 90%;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 2em;
}

@media (max-width: 600px) {
    .subtitle {
        font-size: 1em;
    }
}

.description {
    margin: 30px auto 0 auto;
    color: white;
    width: 70%;
    max-width: 754.2px; 
    font-style: italic;
    line-height: 150%;
    min-height: 80px;
    font-style: normal;
}

@media (max-width: 600px) {
    .description {
        width: 70%;
        font-size: 0.85em;
        margin: 15px auto 0 auto;
    }
}

@media (max-width: 350px) {
    .description {
        font-size: 0.6em;
    }
}

.artwork {
    margin: 30px auto 0 auto;
    max-width: 754.2px;
    max-height: 748.35px;
    min-width: 320px;
    position: relative;
    margin-bottom: 0px;
}


.original {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 2;
    min-width: 320px;
    min-height: 317.59px;
}

.grid-container {
    background-image: url(/images/noisy-texture-100x100-o4-d14-c-FCE06D-t1.png);
    max-width: 754.2px;
    max-height: 748.35px;
    width: 100%;
    height: calc(100vw - 100vw * 0.007817197835238);
    background-color: #150708;
    display: grid;
    grid-template-columns: 2.18fr 2.392fr 2.34fr 2.375fr 2.3fr 3.042fr 3.061fr 0.9fr;
    grid-template-rows: 2.49fr 2.62fr 2.6fr 2.64fr 2.64fr 2.66fr 2.54fr 1.2fr 0.9fr;
    list-style: none;
    padding: 0;
    grid-gap: 1.82%;
    margin: 0;
    min-height: 317.59px;
}

.caption {
    width: 70%;
    max-width: 754.2px; 
    margin: 30px auto 0 auto;
}

@media (max-width: 850px) {
    .caption {
        width: 70%;
        max-width: 754.2px; 
        margin: 30px auto 0 auto;
    }
}

@media (max-width: 550px) {
    .caption {
        margin: 20px auto 0 auto;
        font-size: .8em;
    }
}


.grid__item {
    background-image: url(/images/noisy-texture-100x100-o4-d14-c-FCE06D-t1.png);
    position: relative;
}

.grid__item:nth-child(1) {
    grid-column: span 2;
}

.grid__item:nth-child(2) {
    grid-column: span 3;
}

.grid__item:nth-child(3) {
    grid-column: span 2;
}

.grid__item:nth-child(4) {
    grid-row: span 6;
}

.grid__item:nth-child(5) {
    grid-row: span 2;
}

.grid__item:nth-child(6) {
    grid-row: span 4;
    grid-column: span 4;
}

.grid__item:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
}

.grid__item:nth-child(8) {
    grid-row: span 3;
}

.grid__item:nth-child(9) {
    grid-row: span 2;
}

.grid__item:nth-child(10) {
    grid-row: span 2;
}

.grid__item:nth-child(11) {
    grid-row: span 2;
    grid-column: span 2;
}

.grid__item:nth-child(12) {
    grid-column: span 2;
}

.grid__item:nth-child(13) {
    grid-column: span 2;
}

.grid__item:nth-child(14) {
    grid-row: span 3;
}

.grid__item:nth-child(15) {
    grid-column: span 2;
}

.grid__item:nth-child(16) {
    grid-row: span 2;
    grid-column: span 2;
}

.grid__item:nth-child(17) {
    grid-row: span 3;
}

.grid__item:nth-child(18) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid__item:nth-child(19) {
    grid-column: span 2;
}

.grid__item:nth-child(20) {
    grid-column: span 4;
}

.grid__item_color_white {
    background-color: #F2F1F0;
}

.grid__item_color_yellow {
    background-color: #FCE06D;
}

.grid__item_color_black {
    background-color: #1D0D10;
}

.grid__item_color_red {
    background-color: #E44531;
}

.grid__item_color_darkblue {
    background-color: #0C4078;
}

.grid__item:nth-child(4) {

}

.grid__item:nth-child(4) {

}

.grid__item:nth-child(4) {

}

.grid__item_place_top-left {
    background-color: #F2F1F0;
    width: 40px;
    height: 15px;
    position: absolute;
    top: 0;
    right: -20px;
}

.grid__item_place_top-mid {
    background-color: #FCE06D;
    width: 20px;
    height: 7px;
    position: absolute;
    top: 0;
    right: -20px;
}

.grid__item_place_top-right {
    background-color: #FCE06D;
    width: 40px;
    height: 22px;
    position: absolute;
    top: 0;
    right: -20px;
}

.grid__item_place_mid-top {
    background-color: #F2F1F0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.grid__item_place_mid-mid {
    background-color: #F2F1F0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.grid__item_place_mid-bot {
    background-color: #FCE06D;
    width: 12px;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.grid__item_place_bot-left {
    background-color: #FCE06D;
    width: 16px;
    height: 22px;
    position: absolute;
    bottom: 0;
    left: -16px;
}

.grid__item_place_bot-mid {
    background-color: #F2F1F0;
    width: 15px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: -15px;
}

.grid__item_place_bot-right {
    background-color: #E44531;
    width: 15px;
    height: 11px;
    position: absolute;
    bottom: 0;
    right: -15px;
}

.button {
    background-image: url(/images/noisy-texture-100x100-o4-d14-c-FCE06D-t1.png);
    background-color: #E44531;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    line-height: 150%;
    max-width: 754.2px;
    display: block;
    letter-spacing: 0.2em;
    padding: 0;
    margin: 20px auto 80px auto;
  }

  .button:hover {
      opacity: 0.9;
      transition: 0.5s;
  }

  @font-face {
    src: url(/fonts/EuroStyle\ Normal.ttf) format('truetype');
    font-family: 'Eurostile';
  }
  
  
  @font-face {
    src: url(/fonts/EurostileBold.ttf) format('truetype');
    font-family: 'Eurostile';
    font-weight: bold;
  }
  
  
  .adaptive-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
    opacity: 0.8;
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    .adaptive-grid-container {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        grid-auto-rows: 50px;
        grid-auto-flow: dense;
      }
  }

  @media (max-width: 400px) {
    .adaptive-grid-container {
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        grid-auto-rows: 30px;
        grid-auto-flow: dense;
      }
  }